<!-- Footer Section -->
<footer class="p-5 text-light position-relative" style="background-color: #6624ea;">
    <div class="container">

        <div class="d-sm-flex align-items-center justify-content-between">
            <p class="lead">&copy; 2023 Computerized Task Management Application</p> 
            <p>A project developed by Ajayi Nathanael</p>  
            <!-- <p>Computer Science Department, Imesi-Ile Polytechnic <br> Osun State Nigeria</p>   -->
            <a href="#" class="position-absolute bottom-0 end-0 p-5">
                <i class="fa fa-arrow-up text-light" aria-hidden="true"></i>
            </a> 
        </div>

    </div>
</footer>

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js"></script>

    
    
</body>
</html>